body {
	margin: 0;
	padding: 0;
	background:#f3f3f3;
	color: 201F1F;
	font-family: helvetica;
	
	
}
main {
	padding: 1em;
	text-align: center;
	background-image: linear-gradient( -90DEG, #A6A6A8, #CECECE, #A6A6A8 );
    font-family: Brush Script MT,cursive;
    font-size: 50px;
    text-align: center;
    color: #272635;
    
	
}
h2 {
	margin: 0 0 1em 0;
	text-align: center;
	background-color: #6a6a6a;
	font-size: 40px;
}
p {
	margin: 0 0 1em 0;
}
